In [31]:
#LIST OPERATIONS

In [32]:
my_list = [2,8,9]  # Create a list with numbers
my_list.append(1)  # Add element 1
my_list.append(2)  # Add element 2
my_list.append(3)  # Add element 3
print(my_list)     # print list

[2, 8, 9, 1, 2, 3]

In [33]:
my_list[1] = 17  # Modify the second element (index 1) to 17
print(my_list)     # print list

[2, 17, 9, 1, 2, 3]

In [34]:
my_list[my_list.index(9)] = 90 # replace element 9 with 90
print(my_list)     # print list

[2, 17, 90, 1, 2, 3]

In [35]:
my_list.remove(17)  # Remove element 17
print(my_list)     # print list

[2, 90, 1, 2, 3]

In [36]:
my_list.pop(0)  # Remove the first element (index 0)
print(my_list)     # print list

[90, 1, 2, 3]

In [37]:
#DICTIONARY OPERATIONS

In [38]:
my_dict = {'name': 'sachin', 'age': 47, 'city': 'mumbai'} #Creating dictionary
print(my_dict) # print dictionary

{'name': 'sachin', 'age': 47, 'city': 'mumbai'}

In [39]:
my_dict['age'] = 48  # Modify the value associated with key 'age'
print(my_dict) # print dictionary

{'name': 'sachin', 'age': 48, 'city': 'mumbai'}

In [40]:
my_dict['gender'] = 'male'  # Add a new key-value pair
print(my_dict) # print dictionary

{'name': 'sachin', 'age': 48, 'city': 'mumbai', 'gender': 'male'}

In [41]:
del my_dict['city']  # Delete the key-value pair with key 'city'
print(my_dict) # print dictionary

{'name': 'sachin', 'age': 48, 'gender': 'male'}

In [42]:
#SET OPERATIONS

In [43]:
my_set = {1, 2, 3}  # Create a set with elements 1, 2, and 3
print(my_set) # print set

{1, 2, 3}

In [44]:
my_set.add(6)  # Add element 4 to the set
print(my_set) # print set

{1, 2, 3, 6}

In [45]:
my_set.remove(2)  # Remove element 2
print(my_set)  # print set

{1, 3, 6}